@import "colors";

$size-100-percent: 100%;
$size-loading-width: $size-100-percent;
$size-loading-height: 100px;

:host {
  display: block;
  position: relative;
  height: $size-100-percent;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size-loading-width;
  height: $size-loading-height;
  position: absolute;
  bottom: 65px;
  background-color: $color-white;
}
