$size-photo-list-width: 100%;
$size-photo-list-height: calc(100% - 70px);
$size-photo-card-width: auto;
$size-photo-card-height: 200px;

:host {
  display: flex;
  flex-wrap: wrap;
  width: $size-photo-list-width;
  height: $size-photo-list-height;
  overflow: auto;

  .photo-card {
    width: $size-photo-card-width;
    height: $size-photo-card-height;
    margin: 15px 30px;
  }
}
